main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 16px;
}

.search-box {
  width: 50%;
  background-color: #fff;
  padding: 30px;
  border: 0.5px solid #bbb;
  margin: 20px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
}

form input {
  padding: 10px;
  border: 0;
}

.cep-form__button {
  background-color: #777;
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  padding: 10px;
  border: 2px solid #777;
}

.address-result {
  width: 50%;
  background-color: #fff;
  padding: 30px;
  border: 0.5px solid #bbb;
  margin: 20px;
}

.address-result ul {
  padding: 0;
}

.address-result__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 5px;
}

.address-result__item--field {
  font-weight: 700;
}

.address-result__item--value {
  font-weight: 300;
  margin-left: 5px;
}

@media (max-width: 576px) {
  form {
    flex-direction: column;
  }

  form input {
    margin-bottom: 10px;
    text-align: center;
  }

  .address-result__item {
    flex-direction: column;
    align-items: flex-start;
  }

  .address-result__item--value {
    margin-left: 0;
  }
}
